.accrodion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.45s;
}

.active , .accrodion:hover{
    background-color: #ccc;

}

.accrodion::after{
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active::after{
    content: "\2212";
}

.panel{
    padding: 0.18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


